The weather forecast says that today’s temperature is 25°C. You want to know what this temperature is in Fahrenheit.

Using the formula to convert Celsius to Fahrenheit,
F = (9/5)*C + 32

print the output as "The provided temperature  in Celsius was *** and in Fahrenheit is **** "

### A. Working with Python String

In [1]:
x = "Hello I am Donald Trump and I am imposing 50% Tarrif on India"
print(x)

Hello I am Donald Trump and I am imposing 50% Tarrif on India

In [3]:
print("tarrif" in x)

False

#### A.1 Multiline Strings

In [5]:
my_paragraph = ''' Hello my name is Rajesh Hamal and I am hero of Nepal. 
I live in Kathmandu and my favourite food is Mo:mo
                    '''
print(my_paragraph)

 Hello my name is Rajesh Hamal and I am thanos of Nepal.
I live in Kathmandu and my favourite food is Mo:mo

In [14]:
x1 = 'Nepal'
y = 'is'
z = 'my country'

print(x1,y,z)

Nepal is my country

In [7]:
my_note = "Nepal is my Country"
print(my_note)

Nepal is my Country

In [5]:
country = "Kathmandu"
print(country)

Kathmandu

Python keeps your string in order, like a row of boxes, and each box has one letter.
Indexing lets you open a specific box

#### A2. Slicing Strings

Index:  0   1   2   3   4
Value:  N   e  p  a  l

In [6]:
print(country[0:3])

Kat

In [17]:
print(x)

Hello I am Donald Trump and I am imposing 50% Tarrif on India

In [7]:
print(x[0:7])

Hello I

In [8]:
print(len(country))

9

In [12]:
name = "Krishna"
print(len(name))

8

In [42]:
student_name = 'Krishna'
print(len(student_name))
print(student_name[0:5])

7
Krish

Slice From the Start

In [14]:
b = "Hello, Nepal!"
#print(b[0:5])

print(b[0:])

Hello, Nepal!

The negative indexing

In [16]:
b = "Hello, World!"
#print(b[-5:-2])
print(b[0:0])

Positive:  H   e   l   l   o   ,       W   o   r   l   d   !
           0   1   2   3   4   5   6   7   8   9  10  11  12

Negative: -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

b[start : stop]

In [17]:
b = "Hello, World!"
print(b[-2:-12])
#print(b[-12:-2]) 
#output is empty string because the slicing runs from left to right

In [19]:
#steps in slicing
a = 'Deerwalk Sifal School'
print(a[2:15:2])
print(a[2:15])

ewl ia
erwalk Sifal

#### A.3 Modify Strings

upper()

In [20]:
my_name = 'narendra modi'
print(my_name.upper())

NARENDRA MODI

The upper() method returns the string in upper case.
The lower() method returns the string in lower case

lower()

In [21]:
my_name_ = 'DONALD TRUMP'
print(my_name_.lower())
print(my_name_)

 donald trump
 DONALD TRUMP

strip()

In [40]:
# remove spacing before and after the string 

my_name_is = ' Himal Yadav   '
print(my_name_is)

 Himal Yadav

The strip() method removes any whitespace from the beginning or the end:

In [38]:
print(my_name_is.strip())

Himal Yadav

In [41]:
my_name_is.strip()

'Himal Yadav'

replace()

In [26]:
replace_word = 'Nepali'
print(replace_word.replace("N","U"))
#print(replace_word)
#print(replaced)

Uepali

In [22]:
a = "Hello, Nepal!"
print(a.replace("H", "J"))

Jello, Nepal!

In [32]:
x = 'Hello Nepal, This is Nepali'

x = x.replace('H', 'J', 1) # Step 1: Replace only the first H

x = x.replace('N', 'U',1) # Step 2: Replace only the first N

print(x)

Jello Uepal, This is Nepali

Imagination Case: Imagine you working as Data Analyst and all you need to do is seperate fname,lname,age,gender from data which comes in below mentioned format 

Rajesh,Hamal,56,Male
Alia$Bhatt$32$Female
Donald/Trump/78/Male
KP-oli-72-Male

split(): method returns a list where the text between the specified separator becomes the list items.

In [35]:
a = "Alia$Bhatt"
u = print(a.split("$"))

['Alia', 'Bhatt']

In [37]:
usa_president = "Donald/Trump/78/Male"

parts = usa_president.split('/') # Split the string by '/'
print(parts)

['Donald', 'Trump', '78', 'Male']

In [38]:
fname = parts[0]  # Assign to separate variables
lname = parts[1]
age = parts[2]
gender = parts[3]

# Print them
print("First Name:", fname)
print("Last Name:", lname)
print("Age:", age)
print("Gender:", gender)

First Name: Donald
Last Name: Trump
Age: 78
Gender: Male

Day 2 Exercise: https://docs.google.com/document/d/1ELIm8YljbSlxQV_N8osrS10_BHcVRe7us-TkStm8zVI/edit?usp=sharing

Short link: https://shorturl.at/ASDvo