- non primitive data types are complex


Primitive Datatype (int) : 1,2,3,4,5,6, B, 7
string : A,B,C, 255, D,E

krish123

Primitive data types store simple values directly, whereas non-primitive data types store collections of values or references to objects.

Primitive Data types: Int, Float, String and Boolean
Non Primitive Data Types: List, Tuple, Set and Dictionary

In [ ]:
amisha = [Lays, Kurkure, Fanta, Pepsi, Kitkat, Dairy Milk, Apple, Pineapple]
manavi = [Lays, Kurkure, Fanta, Mirinda, Kitkat, Dairy Milk, Apple, Mango]

# LIST

LIST : The Shopping Bag of Python!

Imagine you go shopping, you buy chips, apples, and juice. Where do you keep them? 
In a bag! That’s what a Python List is , a bag that can hold many items together!”


Defination of LIST: 
A List is a collection that can store multiple items in a single variable [].
It is ordered, changeable, and allows duplicates.


गुण (Proporties)  of List : 
1. Written inside square brackets [ ]
2. Ordered: Keeps the same order of items
3. Mutable: You can change items anytime
4. Allows duplicates: Same item can appear more than once

In [3]:
# Example for list of snacks
snacks = ["chips", "cookies", "juice", "WAI_WAI", "WAI_WAI"]
print(snacks)

['chips', 'cookies', 'juice', 'WAI_WAI', 'WAI_WAI']

In [7]:
# example for List of Cities
new_cities = ['Pune','New delhi','Vrindaban', 'Mathura', 'Agra',2500]
cities = ["Lalitpur","Bhaktapur","Balen City a.k.a Kathmandu", "Butwal"]
print(cities)
#print(new_cities)

['Lalitpur', 'Bhaktapur', 'Balen City a.k.a Kathmandu', 'Butwal']

In [18]:
# you can also add other values in LIST, as its can contain any values

## Accessing Values

In [8]:
cities = ["Lalitpur","Bhaktapur","Balen City a.k.a Kathmandu", "Butwal"]
print(cities[1])
#print("The first city in list is:", cities[2])

Bhaktapur

In [11]:
# Q) How do you print the last city from the list? if there were 10000's of cities

#print(cities[-1])

print(len(cities))

4

In [12]:
# Q) What about the middle city?

middle_city = len(cities) // 2    #'//' means integer division
print("The index of middle city is",middle_city)
print(cities[middle_city])

The index of middle city is 2
Balen City a.k.a Kathmandu

## Updating Values

In [13]:
cities = ["Lalitpur","Bhaktapur","Balen City a.k.a Kathmandu", "Butwal"]
# i am not supporter of Balen so I dont want to call Kathmandu as his city, i want Kathmandu as Kathmandu. But How to update?

print(cities)

['Lalitpur', 'Bhaktapur', 'Balen City a.k.a Kathmandu', 'Butwal']

In [19]:
#cities = ["Lalitpur","Bhaktapur","Balen City a.k.a Kathmandu", "Butwal"]
cities[1] = "Bkt"
print(cities)

['Lalitpur', 'Bkt', 'Kathmandu', 'Butwal']

## Deleting or Removing Values

You can remove items using:
remove(): removes by value
pop(): removes by index
del: deletes specific or whole list
clear(): empties the list

In [20]:
fruits = ["apple", "banana", "mango", "orange", "pine-apple"]

print(fruits)

['apple', 'banana', 'mango', 'orange', 'pine-apple']

In [21]:

fruits.remove("mango")
print("After remove:", fruits)

# mango : Mango???

After remove: ['apple', 'banana', 'orange', 'pine-apple']

In [22]:
fruits.pop(3)
print("After pop:", fruits)

After pop: ['apple', 'banana', 'orange']

In [23]:
del fruits[2]
print("After del:", fruits)

After del: ['apple', 'banana']

In [24]:
fruits.clear()
print("After clear:", fruits)

After clear: []

## Insert Value

In [26]:
# friends of 4



friends = ['Dhiresh','Naresh','Ramesh','Suresh']
print("The name in friend list are", friends)

The name in friend list are ['Dhiresh', 'Naresh', 'Ramesh', 'Suresh']

In [27]:
''' new student named Nripesh in class and wants to join the group
#seats are arranged in [0,1,2,3] , what if Nripesh want to have seat between Suresh and Naresh?'''

friends.insert(1,"Krish") #adding into a particular location
print(friends)

['Dhiresh', 'Krish', 'Naresh', 'Ramesh', 'Suresh']

In [29]:
# use of append

friends.append("Nripesh")
print(friends)

['Dhiresh', 'Krish', 'Naresh', 'Ramesh', 'Suresh', 'EA450', 'Nripesh']

In [6]:
# Nripesh wants his seperate group, how can it be made?

## Slice List

In [30]:
print("List of friends before new one:",friends)

List of friends before new one: ['Dhiresh', 'Krish', 'Naresh', 'Ramesh', 'Suresh', 'EA450', 'Nripesh']

In [31]:

group1 = friends[3:7]  #n-1

group2 = friends[0:3]

print(" Group1 members: ",group1)
print("Group2 members: ", group2)

 Group1 members:  ['Ramesh', 'Suresh', 'EA450', 'Nripesh']
Group2 members:  ['Dhiresh', 'Krish', 'Naresh']

In [ ]:
# can't we seperate this by directly giving names?





# NO becasue List is position-based container, which holds data's in indexing (increasing order)

## Sort List

In [32]:
marks = [85, 40, 92, 75, 60,2,5,12,18,10,9]
print("Original marks:", marks)

Original marks: [85, 40, 92, 75, 60, 2, 5, 12, 18, 10, 9]

In [33]:
marks.sort()
print("Sorted (Ascending):", marks)

Sorted (Ascending): [2, 5, 9, 10, 12, 18, 40, 60, 75, 85, 92]

In [34]:
marks.sort(reverse=True)
print("Sorted (Descending):", marks)

Sorted (Descending): [92, 85, 75, 60, 40, 18, 12, 10, 9, 5, 2]

## Reverse List

In [35]:
politicians = ["PK Dahal", "KP Oli", "Sher Bahadur Deuwa","Rabi Lamichhane","Sumana Shrestha"]

# reversing the list as per peoples demand 

politicians.reverse()
print("Reversed list:", politicians)

Reversed list: ['Sumana Shrestha', 'Rabi Lamichhane', 'Sher Bahadur Deuwa', 'KP Oli', 'PK Dahal']

In [35]:
## if new variable

politicians = ["PK Dahal", "KP Oli", "Sher Bahadur Deuwa", "Rabi Lamichhane", "Sumana Shrestha"]

election_2082 = list(reversed(politicians))  # because of <list_reverseiterator object at 0x000002269254BC10>

print("Original list:", politicians)
print("Reversed list:", election_2082)

Original list: ['PK Dahal', 'KP Oli', 'Sher Bahadur Deuwa', 'Rabi Lamichhane', 'Sumana Shrestha']
Reversed list: ['Sumana Shrestha', 'Rabi Lamichhane', 'Sher Bahadur Deuwa', 'KP Oli', 'PK Dahal']

In [21]:
print(reversed(politicians))

<list_reverseiterator object at 0x000002269254BC10>

## Join List

In [6]:
list1 = ["Pizza", "Momo"]
list2 = ["Fanta", "Coke"]

# Using +
combined = list1 + list2
print("Joined with + :", combined)

Joined with + : ['Pizza', 'Momo', 'Fanta', 'Coke']

In [7]:
# Using extend()
list1.extend(list2)
print("Joined with extend():", list1)

Joined with extend(): ['Pizza', 'Momo', 'Fanta', 'Coke']

In [8]:
list2.extend(list1)
print("Joined with extend():",list2)

Joined with extend(): ['Fanta', 'Coke', 'Pizza', 'Momo', 'Fanta', 'Coke']

Week 11 Homework : https://docs.google.com/document/d/1qnYg1MfWSAdFvOd4jg0wyVrz8HEm-hbCl6qJ7j7gS4Y/edit?usp=sharing

# Tuples

Tuple Vs List

Lists are mutable, meaning their elements can be added, removed, or changed, whereas tuples are immutable and cannot be modified once created.

Lists use square brackets [ ], while tuples use parentheses ( ) to store ordered collections of items.

In [2]:
student = ("Krishna", 17, "Grade 11")
print(student)

('Krishna', 17, 'Grade 11')

tuples are faster and safer. Tuples cannot be changed (immutable), 
they protect data that should stay constant,
making programs more reliable and improving performance.

Properties of Tuples
1. Ordered: Elements remain in the order you assign them.
2. Immutable: You cannot change, add, or remove elements once created.
3. Allow Duplicate Values: A tuple can contain repeated values.
4. Can Store Different Data Types: Strings, integers, floats, lists, even other tuples.
5. Index-Based Access: You can access elements using their index

#### Accessing Tuple Values

In [3]:
print(student)

('Krishna', 17, 'Grade 11')

In [4]:
print(student[0])    
print(student[2])

#negative indexing as well
print(student[-1])

Krishna
Grade 11
Grade 11

#### Updating Tuple Values

In [10]:
# what do you think can the values be updated in tuple data type?

In [5]:
list_students = ['ram',18,'science']   #this is list not tuple
print(list_students)

['ram', 18, 'science']

In [6]:
list_students[1]= 16
print(list_students)

['ram', 16, 'science']

In [7]:
student[1] = 16
print(student)

TypeError: 'tuple' object does not support item assignment

Convert Tuple → List → Update → Convert Back

In [25]:
#we have student = ("Ram", 17, "Grade 11") 
temp = list(student)
temp[1] = 18
student = tuple(temp)
print(student)

('Ram', 18, 'Grade 11')

#### Joining Tuples

In [15]:
tuple1 = ("Apple", "Banana")
tuple2 = ("Mango", "Orange")

fruits = tuple1 + tuple2
print(fruits)

('Apple', 'Banana', 'Mango', 'Orange')

In [11]:
student = ("Aarav", 16, "Science")

name, age, faculty = student

#student = name, age, faculty 
print(name)
print(age)
print(faculty)

Aarav
16
Science

##### Unpacking Tuples
Unpacking means assigning each element of a tuple to a variable.

In [12]:
student = ("Dhirendra", 15, "Science")

name, age, program = student

print(name)
print(age)
print(program)

Dhirendra
15
Science

In [13]:
numbers = (1, 2, "Abhimanyu","Shital","Samikhsya")
a, b, *participant = numbers

print(a)
print(b)
print(participant)

1
2
['Abhimanyu', 'Shital', 'Samikhsya']

# SET

In [2]:
numbers = {1,2,3,4,5,9,10,10,11}
print(numbers)

{1, 2, 3, 4, 5, 9, 10, 11}

Properties of Set: 

1.Unordered
Items do not have a fixed position (index).

2.No Duplicates
Duplicate values are automatically removed.

3.Unchangeable (No Item Assignment)
You cannot update a specific item using indexing. But you can add or remove items.

In [3]:
numbers[0]

TypeError: 'set' object is not subscriptable

In [6]:
random_set = {'Aviskar','Mahabir-Pun',23,4000,9.12,"Salman Khan"}
print(random_set)

{4000, 'Salman Khan', 'Aviskar', 23, 9.12, 'Mahabir-Pun'}

#### Insert Values in a Set

In [8]:
students_of_khumbutse = {"Rudra", "Saurya","Diamond","Aarjan"}

In [9]:
#lets add prayag in the group

students_of_khumbutse.add("Prayag")
print(students_of_khumbutse)

{'Prayag', 'Diamond', 'Saurya', 'Aarjan', 'Rudra'}

I want to add: Prayag, Samrajya, Anshudeep and Saksham at once

In [10]:
# use of update() method which   Adds multiple items

students_of_khumbutse.update(['Prayag','Samrajya'])
students_of_khumbutse.update(('Anshudeep','Saksham'))
students_of_khumbutse.update({"Aakanchha ","Sonu","Samir"})
print(students_of_khumbutse)

{'Aakanchha ', 'Saksham', 'Prayag', 'Diamond', 'Anshudeep', 'Saurya', 'Samrajya', 'Aarjan', 'Sonu', 'Rudra', 'Samir'}

#### Delete/ Remove values

In [11]:
# lets remove students 
print(students_of_khumbutse)

{'Aakanchha ', 'Saksham', 'Prayag', 'Diamond', 'Anshudeep', 'Saurya', 'Samrajya', 'Aarjan', 'Sonu', 'Rudra', 'Samir'}

remove() – Removes item; gives error if item does not exist

In [13]:
students_of_khumbutse.remove("Samir")
print(students_of_khumbutse)

{'Aakanchha ', 'Saksham', 'Prayag', 'Diamond', 'Anshudeep', 'Saurya', 'Samrajya', 'Aarjan', 'Sonu', 'Rudra'}

discard() – Removes item without error

In [14]:
students_of_khumbutse.discard(" Aarjan")
print(students_of_khumbutse)

#use discard when you don't know if the item exists in the set or not!!

{'Aakanchha ', 'Saksham', 'Prayag', 'Diamond', 'Anshudeep', 'Saurya', 'Samrajya', 'Aarjan', 'Sonu', 'Rudra'}

pop() – Removes a random item, but in ordered form

In [15]:
colors = {"black","red", "blue", "green","pink"}
colors.pop()

'blue'

In [70]:
print(colors)

{'red', 'green', 'pink', 'blue'}

In [ ]:
colors.pop()

clear() – Empties the entire set

In [16]:
colors.clear()
print(colors)

set()

del – Deletes the entire set

In [17]:
del colors

In [18]:
print(colors)

NameError: name 'colors' is not defined

##### Set Operations

###### Union – Combines all unique elements

In [21]:
A = {1, 2, 3}
B = {3, 4, 5}
print(A.union(B))   
print(A | B)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

###### Intersection – Only common elements

In [22]:
A = {1, 2, 3}
B = {2, 3, 4}
print(A.intersection(B))  
print(A & B)

{2, 3}
{2, 3}

###### Difference – Items present in A but not in B

In [23]:
A = {1, 2, 3}
B = {2, 3, 4}
print(A.difference(B)) 
print(A - B)

{1}
{1}

###### Symmetric Difference

In [24]:
# Elements that are in A or B but not in both.

A = {1, 2, 3}
B = {3, 4, 5}
print(A.symmetric_difference(B))
print(A ^ B)

{1, 2, 4, 5}
{1, 2, 4, 5}