- non primitive data types are complex


Primitive Datatype (int) : 1,2,3,4,5,6, B, 7
string : A,B,C, 255, D,E

krish123

Primitive data types store simple values directly, whereas non-primitive data types store collections of values or references to objects.

Primitive Data types: Int, Float, String and Boolean
Non Primitive Data Types: List, Tuple, Set and Dictionary

In [ ]:
amisha = [Lays, Kurkure, Fanta, Pepsi, Kitkat, Dairy Milk, Apple, Pineapple]
manavi = [Lays, Kurkure, Fanta, Mirinda, Kitkat, Dairy Milk, Apple, Mango]

# LIST

LIST : The Shopping Bag of Python!

Imagine you go shopping, you buy chips, apples, and juice. Where do you keep them? 
In a bag! That’s what a Python List is , a bag that can hold many items together!”


Defination of LIST: 
A List is a collection that can store multiple items in a single variable [].
It is ordered, changeable, and allows duplicates.


गुण (Proporties)  of List : 
1. Written inside square brackets [ ]
2. Ordered: Keeps the same order of items
3. Mutable: You can change items anytime
4. Allows duplicates: Same item can appear more than once

In [3]:
# Example for list of snacks
snacks = ["chips", "cookies", "juice", "WAI_WAI", "WAI_WAI"]
print(snacks)

['chips', 'cookies', 'juice', 'WAI_WAI', 'WAI_WAI']

In [5]:
# example for List of Cities
#new_cities = ['Pune','New delhi','Vrindaban', 'Mathura', 'Agra',2500]
cities = ["Lalitpur","Bhaktapur","Balen City a.k.a Kathmandu", "Butwal"]
print(cities)
#print(new_cities)

['Lalitpur', 'Bhaktapur', 'Balen City a.k.a Kathmandu', 'Butwal']

In [18]:
# you can also add other values in LIST, as its can contain any values

## Accessing Values

In [6]:
cities = ["Lalitpur","Bhaktapur","Balen City a.k.a Kathmandu", "Butwal"]
print(cities[1])
#print("The first city in list is:", cities[2])

Bhaktapur

In [7]:
# Q) How do you print the last city from the list? if there were 10000's of cities

#print(cities[-1])

print(len(cities))

4

In [12]:
# Q) What about the middle city?

middle_city = len(cities) // 2    #'//' means integer division
print("The index of middle city is",middle_city)
print(cities[middle_city])

The index of middle city is 2
Balen City a.k.a Kathmandu

## Updating Values

In [13]:
cities = ["Lalitpur","Bhaktapur","Balen City a.k.a Kathmandu", "Butwal"]
# i am not supporter of Balen so I dont want to call Kathmandu as his city, i want Kathmandu as Kathmandu. But How to update?

print(cities)

['Lalitpur', 'Bhaktapur', 'Balen City a.k.a Kathmandu', 'Butwal']

In [19]:
#cities = ["Lalitpur","Bhaktapur","Balen City a.k.a Kathmandu", "Butwal"]
cities[1] = "Bkt" #updating the name
print(cities)

['Lalitpur', 'Bkt', 'Kathmandu', 'Butwal']

## Deleting or Removing Values

You can remove items using:
remove(): removes by value
pop(): removes by index
del: deletes specific or whole list
clear(): empties the list

In [2]:
fruits = ["apple", "banana", "mango", "orange", "pine-apple"]

print(fruits)

['apple', 'banana', 'mango', 'orange', 'pine-apple']

In [21]:

fruits.remove("mango")
print("After remove:", fruits)

# mango : Mango???

After remove: ['apple', 'banana', 'orange', 'pine-apple']

In [4]:
fruits.pop(0)
print("After pop:", fruits)

After pop: ['banana', 'mango', 'orange', 'pine-apple']

In [23]:
del fruits[2]
print("After del:", fruits)

After del: ['apple', 'banana']

In [24]:
fruits.clear()
print("After clear:", fruits)

After clear: []

## Insert Value

In [8]:
# friends of 4



friends = ['Dhiresh','Naresh','Ramesh','Suresh']
print("The name in friend list are", friends)

The name in friend list are ['Dhiresh', 'Naresh', 'Ramesh', 'Suresh']

In [9]:
''' new student named Nripesh in class and wants to join the group
#seats are arranged in [0,1,2,3] , what if Nripesh want to have seat between Suresh and Naresh?'''

friends.insert(1,"Krish") #adding into a particular location
print(friends)

['Dhiresh', 'Krish', 'Naresh', 'Ramesh', 'Suresh']

In [11]:
# use of append

friends.append("Shrey")  # adds the item at end of the list.
print(friends)

['Dhiresh', 'Krish', 'Naresh', 'Ramesh', 'Suresh', 'Krish', 'Shrey']

In [6]:
# Nripesh wants his seperate group, how can it be made?

## Slice List

In [30]:
print("List of friends before new one:",friends)

List of friends before new one: ['Dhiresh', 'Krish', 'Naresh', 'Ramesh', 'Suresh', 'EA450', 'Nripesh']

In [31]:

group1 = friends[3:7]  #n-1

group2 = friends[0:3]

print(" Group1 members: ",group1)
print("Group2 members: ", group2)

 Group1 members:  ['Ramesh', 'Suresh', 'EA450', 'Nripesh']
Group2 members:  ['Dhiresh', 'Krish', 'Naresh']

In [ ]:
# can't we seperate this by directly giving names?





# NO becasue List is position-based container, which holds data's in indexing (increasing order)

## Sort List

In [12]:
marks = [85, 40, 92, 75, 60,2,5,12,18,10,9]
print("Original marks:", marks)

Original marks: [85, 40, 92, 75, 60, 2, 5, 12, 18, 10, 9]

In [13]:
marks.sort()
print("Sorted (Ascending):", marks)

Sorted (Ascending): [2, 5, 9, 10, 12, 18, 40, 60, 75, 85, 92]

In [14]:
marks.sort(reverse=True)
print("Sorted (Descending):", marks)

Sorted (Descending): [92, 85, 75, 60, 40, 18, 12, 10, 9, 5, 2]

## Reverse List

In [35]:
politicians = ["PK Dahal", "KP Oli", "Sher Bahadur Deuwa","Rabi Lamichhane","Sumana Shrestha"]

# reversing the list as per peoples demand 

politicians.reverse()
print("Reversed list:", politicians)

Reversed list: ['Sumana Shrestha', 'Rabi Lamichhane', 'Sher Bahadur Deuwa', 'KP Oli', 'PK Dahal']

In [35]:
## if new variable

politicians = ["PK Dahal", "KP Oli", "Sher Bahadur Deuwa", "Rabi Lamichhane", "Sumana Shrestha"]

election_2082 = list(reversed(politicians))  # because of <list_reverseiterator object at 0x000002269254BC10>

print("Original list:", politicians)
print("Reversed list:", election_2082)

Original list: ['PK Dahal', 'KP Oli', 'Sher Bahadur Deuwa', 'Rabi Lamichhane', 'Sumana Shrestha']
Reversed list: ['Sumana Shrestha', 'Rabi Lamichhane', 'Sher Bahadur Deuwa', 'KP Oli', 'PK Dahal']

In [21]:
print(reversed(politicians))

<list_reverseiterator object at 0x000002269254BC10>

## Join List

In [6]:
list1 = ["Pizza", "Momo"]
list2 = ["Fanta", "Coke"]

# Using +
combined = list1 + list2
print("Joined with + :", combined)

Joined with + : ['Pizza', 'Momo', 'Fanta', 'Coke']

In [7]:
# Using extend()
list1.extend(list2)
print("Joined with extend():", list1)

Joined with extend(): ['Pizza', 'Momo', 'Fanta', 'Coke']

In [8]:
list2.extend(list1)
print("Joined with extend():",list2)

Joined with extend(): ['Fanta', 'Coke', 'Pizza', 'Momo', 'Fanta', 'Coke']

Week 11 Homework : https://docs.google.com/document/d/1qnYg1MfWSAdFvOd4jg0wyVrz8HEm-hbCl6qJ7j7gS4Y/edit?usp=sharing

# Tuples

Tuple Vs List

Lists are mutable, meaning their elements can be added, removed, or changed, whereas tuples are immutable and cannot be modified once created.

Lists use square brackets [ ], while tuples use parentheses ( ) to store ordered collections of items.

In [12]:
student = ("Satkrit", 17, "Grade 11")
print(student)

('Satkrit', 17, 'Grade 11')

tuples are faster and safer. Tuples cannot be changed (immutable), 
they protect data that should stay constant,
making programs more reliable and improving performance.

Properties of Tuples
1. Ordered: Elements remain in the order you assign them.
2. Immutable: You cannot change, add, or remove elements once created.
3. Allow Duplicate Values: A tuple can contain repeated values.
4. Can Store Different Data Types: Strings, integers, floats, lists, even other tuples.
5. Index-Based Access: You can access elements using their index

#### Accessing Tuple Values

In [13]:
print(student)

('Satkrit', 17, 'Grade 11')

In [16]:
print(student[0])    
print(student[2])

#negative indexing as well
print(student[-2])

Satkrit
Grade 11
17

#### Updating Tuple Values

In [10]:
# what do you think can the values be updated in tuple data type?

In [21]:
list_students = ['ram',18,'science',"kathmandu","mo:mo"]   #this is list not tuple
print(list_students)

['ram', 18, 'science', 'kathmandu', 'mo:mo']

In [22]:
list_students[4]= "Pizza"
print(list_students)

['ram', 18, 'science', 'kathmandu', 'Pizza']

In [23]:


#student[1] = 16
print(student)

('Satkrit', 17, 'Grade 11')

In [24]:
student[0] = "Ashish"
print(student)

TypeError: 'tuple' object does not support item assignment

Convert Tuple → List → Update → Convert Back

In [27]:
#we have student = ("Ram", 17, "Grade 11") 
temp = list(student)
#print(temp)
temp[1] = 18
#print(temp)
student = tuple(temp)
print(student)

('Satkrit', 18, 'Grade 11')

#### Joining Tuples

In [29]:
tuple1 = ("Apple", "Banana")
tuple2 = ("Carrot", "Pumpkin","Raddish")

fruits = tuple1 + tuple2
print(fruits)

('Apple', 'Banana', 'Carrot', 'Pumpkin', 'Raddish')

In [30]:
student = ("Aarav", 16, "Science")

name, age, faculty = student

#student = name, age, faculty 
print(name)
print(age)
print(faculty)

Aarav
16
Science

##### Unpacking Tuples
Unpacking means assigning each element of a tuple to a variable.

In [12]:
student = ("Dhirendra", 15, "Science")

name, age, program = student

print(name)
print(age)
print(program)

Dhirendra
15
Science

In [33]:
numbers = (1, 2, "Abhimanyu","Shital","Samikhsya",7676)
a, b, *participant = numbers

print(a)
print(b)
print(participant)

1
2
['Abhimanyu', 'Shital', 'Samikhsya', 7676]

In [42]:
my_student =("Samir", 1023, "Premium", "2025-12-31")
stu_name,stu_id,*others = my_student 
print(stu_name)
print(stu_id)
print(others)

print(stu_name,"holds a",membership_type,"membership")

#print("Samir holds a Premium membership.")

print(stu_name,"holds a",others[0],"membership")

Samir
1023
['Premium', '2025-12-31']
Samir holds a Premium membership
Samir holds a Premium membership

#### Deleting tuple items

In [47]:
ages = (15, 18, 20, 22, 25)
print(ages)

(15, 18, 20, 22, 25)

In [51]:
del ages(2)

SyntaxError: cannot delete function call (1170641244.py, line 1)

In [50]:
del ages[2]

TypeError: 'tuple' object doesn't support item deletion

In [52]:
## deletion in tuple is only possible by converting it to LIST and deleting item from LIST and converting it back to tuple 



temp = list(ages)   # convert to list
temp.remove(20) # remove item
ages = tuple(temp) # convert back to tuple

print(ages)

(15, 18, 22, 25)

# SET

In [16]:
numbers = {1,2,3,4,5,9,10,10,11,13,14,14,15,12,11}
print(numbers)

{1, 2, 3, 4, 5, 9, 10, 11, 12, 13, 14, 15}

Properties of Set: 

1.Unordered
Items do not have a fixed position (index).

2.No Duplicates
Duplicate values are automatically removed.

3.Unchangeable (No Item Assignment)
You cannot update a specific item using indexing. But you can add or remove items.

In [17]:
numbers[2]

TypeError: 'set' object is not subscriptable

In [19]:
random_set = {'Aviskar','Mahabir-Pun',23,4000,9.12,"Salman Khan","Bishal Shrestha"}
print(random_set)

{4000, 'Salman Khan', 'Bishal Shrestha', 23, 'Aviskar', 'Mahabir-Pun', 9.12}

#### Insert Values in a Set

In [21]:
students_of_pangboche = {"Satkrit", "Shrey","Swikriti","Sakcham"}
print(students_of_pangboche)

{'Sakcham', 'Satkrit', 'Shrey', 'Swikriti'}

In [22]:
#lets add prayag in the group

students_of_pangboche.add("Rythm")
print(students_of_pangboche)

{'Sakcham', 'Rythm', 'Satkrit', 'Shrey', 'Swikriti'}

I want to add: Prayag, Samrajya, Anshudeep and Saksham at once

In [23]:
# use of update() method which   Adds multiple items

students_of_pangboche.update(['Prayag','Samrajya'])
students_of_pangboche.update(('Anshudeep','Saksham'))
students_of_pangboche.update({"Aakanchha ","Sonu","Samir"})
print(students_of_pangboche)

{'Samrajya', 'Sonu', 'Saksham', 'Sakcham', 'Rythm', 'Satkrit', 'Shrey', 'Aakanchha ', 'Anshudeep', 'Prayag', 'Swikriti', 'Samir'}

#### Delete/ Remove values

In [24]:
# lets remove students 
print(students_of_pangboche)

{'Samrajya', 'Sonu', 'Saksham', 'Sakcham', 'Rythm', 'Satkrit', 'Shrey', 'Aakanchha ', 'Anshudeep', 'Prayag', 'Swikriti', 'Samir'}

remove() – Removes item; gives error if item does not exist

In [34]:
students_of_pangboche.remove(' Sonu')
print(students_of_pangboche)

KeyError: ' Sonu'

discard() – Removes item without error

In [36]:
students_of_pangboche.discard(" bhattari")
print(students_of_pangboche)
#use discard when you don't know if the item exists in the set or not!!

{'Samrajya', 'Saksham', 'Sakcham', 'Satkrit', 'Shrey', 'Aakanchha ', 'Anshudeep', 'Prayag', 'Swikriti', 'Samir'}

pop() – Removes a random item, but in ordered form

In [40]:
colors = {"black","red", "blue", "green","pink"}
colors.pop()

'red'

In [20]:
print(colors)

{'pink', 'black', 'blue', 'red'}

In [41]:
colors.pop()

'black'

clear() – Empties the entire set

In [42]:
colors.clear()
print(colors)

set()

del – Deletes the entire set

In [43]:
del colors

In [44]:
print(colors)

NameError: name 'colors' is not defined

##### Set Operations

###### Union – Combines all unique elements

In [46]:
#A = {1, 2, 3,11}
#B = {3, 4, 5,9}
#print(A.union(B))   
#print(A | B) 


A = {"a","b","d","f","g","h"}
B = {"w","y","e","r","t"}

print(A|B)

{'f', 'd', 'a', 'y', 'w', 'e', 't', 'g', 'b', 'r', 'h'}

###### Intersection – Only common elements

In [47]:
A = {1, 2, 3}
B = {2, 3, 4,5}
print(A.intersection(B))  
print(A & B)

{2, 3}
{2, 3}

###### Difference – Items present in A but not in B

In [48]:
A = {1, 2, 3}
B = {2, 3, 4}
print(A.difference(B)) 
print(A - B)

{1}
{1}

###### Symmetric Difference

In [49]:
# Elements that are in A or B but not in both.

A = {1, 2, 3}
B = {3, 4, 5}
print(A.symmetric_difference(B))
print(A ^ B)

{1, 2, 4, 5}
{1, 2, 4, 5}

#### DICTIONARY

A dictionary in Python is a collection of key-value pairs. 
It is unordered, changeable (mutable), and indexed by keys.
Dictionaries are widely used to store and organize data efficiently.

Properties of DICTIONARY:
1.Unordered: Items do not maintain any order (Python ≥3.7 maintains insertion order, but conceptually it’s unordered).
2.Mutable: Can change values, add or remove items.
3.Indexed by keys: Each value is accessed using a unique key.
4.Keys must be immutable: Strings, numbers, or tuples can be keys.
5.Values can be of any data type: Number, string, list, tuple, dictionary, etc.
6. Direct Keys are used while accessing any items.

In [51]:
student = {"name": "Hridesh",
           "age": 17,
           "class": "Grade 11",
           "Strem": "Biology"
          }
print(student)
print(type(student))

{'name': 'Hridesh', 'age': 17, 'class': 'Grade 11', 'Strem': 'Biology'}
<class 'dict'>

In [52]:
# more items?
student = {"name": "Sayam","Rudra",
           "age": 19,17,"class": "Grade 11"}
print(student)

SyntaxError: ':' expected after dictionary key (3596052408.py, line 2)

In [10]:
student = {
    "name": ["Aman", "Anshudeep"],   #list  
    "age": [16, 18],  #datatype == list            
    "class": (11, 12)   # data type == tuple          
}

print(student)

{'name': ['Aman', 'Anshudeep'], 'age': [16, 18], 'class': (11, 12)}

#### updating values in dictionary

In [56]:
#student["name"].append("Satkrit")
#student["age"][0] = 17
student["class"].append(13)
print(student)

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
print(student)

{'name': ['Aman', 'Anshudeep'], 'age': [16, 18], 'class': (11, 12)}

In [4]:
## change anshudeep to Omras 

#student['name'][1] = "Omras"
#print(student)

student['class'][0] =  12
print(student)

TypeError: 'tuple' object does not support item assignment

In [60]:
### how to change class index 0 from 11 to 12?





class_list = list(student["class"])   # first convert to list with help of dummy varialbe
class_list[0] = 12                    # update dummy varialble [datatype -- list]
student["class"] = tuple(class_list)  # convert back to tuple

In [2]:
## changing the key name 

print(student)

{'name': ['Aman', 'Anshudeep'], 'age': [16, 18], 'class': (11, 12)}

In [3]:
## i want the "class" to be re-named as "Grade" 

student['Grade']= student['class']

In [11]:
print(student)

{'name': ['Aman', 'Anshudeep'], 'age': [16, 18], 'class': (11, 12)}

In [6]:
del student["class"]
print(student)

{'name': ['Aman', 'Anshudeep'], 'age': [16, 18], 'Grade': (11, 12)}

###### Accessing Values

In [12]:
print(student.keys())
#how do you know the count of items in list? -- len()

dict_keys(['name', 'age', 'class'])

In [21]:
print(student['gender'])  #code optimization : easy to review

KeyError: 'gender'

In [22]:
print(student.get('gender'))  #this is best for code optimization but depends on scenario

None

In [ ]:
# why use get when we can use Key-based indexing

##### Delete/Remove

In [16]:
print(student)

{'name': ['Aman', 'Anshudeep'], 'age': [16, 18], 'Grade': (11, 12)}

In [28]:
## deleting the key itself 

asian_continent = {
            "Countries": ["Nepal","Bhutan","Japan","Taiwan"],
            "Capitals":  ['Kathmandu','Thimpu','Tokyo','Taipei'],
            "GDP(in Billion $)": (3.2,3.5,3.8,5.5)
}

In [29]:
print(asian_continent)

{'Countries': ['Nepal', 'Bhutan', 'Japan', 'Taiwan'], 'Capitals': ['Kathmandu', 'Thimpu', 'Tokyo', 'Taipei'], 'GDP(in Billion $)': (3.2, 3.5, 3.8, 5.5)}

In [30]:
import pprint
pprint.pprint(asian_continent)

{'Capitals': ['Kathmandu', 'Thimpu', 'Tokyo', 'Taipei'],
 'Countries': ['Nepal', 'Bhutan', 'Japan', 'Taiwan'],
 'GDP(in Billion $)': (3.2, 3.5, 3.8, 5.5)}

In [27]:
## lets delete 


#method1: using del function 

#del asian_continent['Capitals']
#pprint.pprint(asian_continent)


#method2: using pop()
#
asian_continent.pop("Countries")
pprint.pprint(asian_continent)

{'GDP(in Billion $)': (3.2, 3.5, 3.8, 5.5)}

Deleting a Specific Item from the Value of a Dictionary

In [31]:
pprint.pprint(asian_continent)

{'Capitals': ['Kathmandu', 'Thimpu', 'Tokyo', 'Taipei'],
 'Countries': ['Nepal', 'Bhutan', 'Japan', 'Taiwan'],
 'GDP(in Billion $)': (3.2, 3.5, 3.8, 5.5)}

#### Remove ITEM : Case A: Value is a LIST

In [32]:
# lets remove tokyo from the list of capitals !!!
# Case A: Value is a LIST

asian_continent["Capitals"].remove("Tokyo")
pprint.pprint(asian_continent)

{'Capitals': ['Kathmandu', 'Thimpu', 'Taipei'],
 'Countries': ['Nepal', 'Bhutan', 'Japan', 'Taiwan'],
 'GDP(in Billion $)': (3.2, 3.5, 3.8, 5.5)}

In [33]:
#using index 

del asian_continent["Capitals"][2]  # index of tokyo in asian_continent

In [34]:
pprint.pprint(asian_continent)

{'Capitals': ['Kathmandu', 'Thimpu'],
 'Countries': ['Nepal', 'Bhutan', 'Japan', 'Taiwan'],
 'GDP(in Billion $)': (3.2, 3.5, 3.8, 5.5)}

In [35]:
## lets change the GDP of Nepal 

gdp_list = list(asian_continent["GDP(in Billion $)"])   # convert to list
gdp_list[0] = 1.5                                   # delete item
asian_continent["GDP(in Billion $)"] = tuple(gdp_list)   # convert back

In [36]:
pprint.pprint(asian_continent)

{'Capitals': ['Kathmandu', 'Thimpu'],
 'Countries': ['Nepal', 'Bhutan', 'Japan', 'Taiwan'],
 'GDP(in Billion $)': (1.5, 3.5, 3.8, 5.5)}

In [16]:
pprint.pprint(asian_continent)

{'Capitals': ['Kathmandu', 'Thimpu', 'Taipei'],
 'Countries': ['Nepal', 'Bhutan', 'Japan', 'Taiwan'],
 'GDP(in Billion $)': (3.2, 3.5, 3.8, 5.5)}

#### Insert

In [37]:
 #Inserting a new key with no items

# Adding a new key with no items
asian_continent["Languages"] = []   # empty list
# OR
asian_continent["Currencies"] = None

In [39]:
print(type(asian_continent["Languages"]))

<class 'list'>

In [18]:
print(type(asian_continent["Currencies"]))

<class 'NoneType'>

In [20]:
pprint.pprint(asian_continent)

{'Capitals': ['Kathmandu', 'Thimpu', 'Tokyo', 'Taipei'],
 'Countries': ['Nepal', 'Bhutan', 'Japan', 'Taiwan'],
 'Currencies': None,
 'GDP(in Billion $)': (3.2, 3.5, 3.8, 5.5),
 'Languages': []}

In [40]:
del asian_continent["Languages"]

In [41]:
pprint.pprint(asian_continent)

{'Capitals': ['Kathmandu', 'Thimpu'],
 'Countries': ['Nepal', 'Bhutan', 'Japan', 'Taiwan'],
 'Currencies': None,
 'GDP(in Billion $)': (1.5, 3.5, 3.8, 5.5)}

In [42]:
# Inserting a new key with items in a SET

asian_continent["Languages"] = ["Nepali", "Japanese", "English"]
pprint.pprint(asian_continent)

{'Capitals': ['Kathmandu', 'Thimpu'],
 'Countries': ['Nepal', 'Bhutan', 'Japan', 'Taiwan'],
 'Currencies': None,
 'GDP(in Billion $)': (1.5, 3.5, 3.8, 5.5),
 'Languages': ['Nepali', 'Japanese', 'English']}

In [45]:
# Inserting a new country in existing "Countries" key

asian_continent["Countries"].append("India")
pprint.pprint(asian_continent)

{'Capitals': ['Kathmandu', 'Thimpu'],
 'Countries': ['Nepal', 'Bhutan', 'Japan', 'Taiwan', 'India', 'India'],
 'Currencies': None,
 'GDP(in Billion $)': (1.5, 3.5, 3.8, 5.5),
 'Languages': ['Nepali', 'Japanese', 'English']}

In [27]:
#what if i want china to be in specific index? say 2?


asian_continent["Countries"].insert(2, "China")

In [44]:
pprint.pprint(asian_continent)

{'Capitals': ['Kathmandu', 'Thimpu'],
 'Countries': ['Nepal', 'Bhutan', 'Japan', 'Taiwan', 'India'],
 'Currencies': None,
 'GDP(in Billion $)': (1.5, 3.5, 3.8, 5.5),
 'Languages': ['Nepali', 'Japanese', 'English']}

###### Nested Dictionary

In [46]:
nested_dict = {
    "Nepal": {
        "Capital": "Kathmandu",
        "Currency": None,
        "GDP (Billion $)": 3.2,
        "Language": "Nepali"
    },
    "Bhutan": {
        "Capital": "Thimpu",
        "Currency": None,
        "GDP (Billion $)": 3.5,
        "Language": None
    },
    "Japan": {
        "Capital": "Tokyo",
        "Currency": None,
        "GDP (Billion $)": 3.8,
        "Language": "Japanese"
    },
    "Taiwan": {
        "Capital": "Taipei",
        "Currency": None,
        "GDP (Billion $)": 5.5,
        "Language": "English"
    }
}

pprint.pprint(nested_dict)

{'Bhutan': {'Capital': 'Thimpu',
            'Currency': None,
            'GDP (Billion $)': 3.5,
            'Language': None},
 'Japan': {'Capital': 'Tokyo',
           'Currency': None,
           'GDP (Billion $)': 3.8,
           'Language': 'Japanese'},
 'Nepal': {'Capital': 'Kathmandu',
           'Currency': None,
           'GDP (Billion $)': 3.2,
           'Language': 'Nepali'},
 'Taiwan': {'Capital': 'Taipei',
            'Currency': None,
            'GDP (Billion $)': 5.5,
            'Language': 'English'}}

In [16]:
print(nested_dict['Taiwan']['Language'][1])

n

Unique Club Members (Set)
A set stores unique club member IDs.
Q: Add a new member and check membership using a set.

In [3]:
members_of_club = {1,5,9,7,8}
print(members_of_club)

{1, 5, 7, 8, 9}

In [6]:
#members_of_club.append(10)
#members_of_club.insert(1,10)  
# supports if members_of_club = [1,2,3,6,5]

members_of_club.add(10)

In [7]:
print(members_of_club)

{1, 5, 7, 8, 9, 10}

In [9]:
member_id = 10
print(member_id in members_of_club)

True