The weather forecast says that today’s temperature is 25°C. You want to know what this temperature is in Fahrenheit.

Using the formula to convert Celsius to Fahrenheit,
F = (9/5)*C + 32

print the output as "The provided temperature  in Celsius was *** and in Fahrenheit is **** "

### A. Working with Python String

In [1]:
x = "Hello I am KP Oli  and I am Prime Minister of Nepal"
print(x)

Hello I am KP Oli  and I am Prime Minister of Nepal

In [2]:
print("Minister" in x)

True

#### A.1 Multiline Strings

In [5]:
my_paragraph = ''' Hello my name is Rajesh Hamal and I am hero of Nepal. 
I live in Kathmandu and my favourite food is Mo:mo
Bishal is a nice CR, 
he cares lots about his respective section
                    '''
print(my_paragraph)

 Hello my name is Rajesh Hamal and I am hero of Nepal.
I live in Kathmandu and my favourite food is Mo:mo
Bishal is a nice CR,
he cares lots about his respective section

In [14]:
x1 = 'Nepal'
y = 'is'
z = 'my country'

print(x1,y,z)

Nepal is my country

In [7]:
my_note = "Nepal is my Country"
print(my_note)

Nepal is my Country

In [6]:
country = "Nepal"
print(country)

Nepal

Python keeps your string in order, like a row of boxes, and each box has one letter.
Indexing lets you open a specific box

#### String Methods

#### A2. Slicing Strings

Index:  0   1   2   3   4
Value:  N   e  p  a  l

In [7]:
print(country[0:3])

Nep

In [17]:
print(x)

Hello I am Donald Trump and I am imposing 50% Tarrif on India

In [9]:
print(x[0:8])

Hello I

In [10]:
print(len(country))

5

In [12]:
name = "Krishna"
print(len(name))

8

In [42]:
student_name = 'Krishna'
print(len(student_name))
print(student_name[0:5])

7
Krish

Slice From the Start

In [12]:
b = "Hello, Nepal!"
#print(b[0:5])

print(b[0:])

Hello, Nepal!

The negative indexing

In [16]:
b = "Hello, World!"
print(b[-5:-2])
#print(b[0:0])

Positive:  H   e   l   l   o   ,       W   o   r   l   d   !
           0   1   2   3   4   5   6   7   8   9  10  11  12

Negative: -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

b[start : stop]

In [17]:
b = "Hello, World!"
print(b[-2:-12])
#print(b[-12:-2]) 
#output is empty string because the slicing runs from left to right

In [3]:
#steps in slicing
a = 'Harisiddhi Boarding School'
print(a[2:15:2])
print(a[2:15])

rsdh or
risiddhi Boar

#### A.3 Modify Strings

upper()

In [36]:
my_name = 'Joe Sherpa'
print(my_name.upper())

TASHI SHERPA

The upper() method returns the string in upper case.
The lower() method returns the string in lower case

lower()

In [39]:
my_name_ = 'JOE SHERPA'
print(my_name_.lower())
print(my_name_)

tashi sherpa
TASHI SHERPA

strip()

In [43]:
# remove spacing before and after the string 

my_name_is = ' Himal Yadav       '
print(len(my_name_is))
after_strip = my_name_is.strip()
#print(after_strip)
print(len(after_strip))

19
11

The strip() method removes any whitespace from the beginning or the end:

In [38]:
print(my_name_is.strip())

Himal Yadav

In [41]:
my_name_is.strip()

'Himal Yadav'

replace()

In [48]:
replace_word = 'Nepali'
print(replace_word.replace("N","U"))
print(replace_word)
#print(replaced)

Uepali
Nepali

In [50]:
a = "Nello, Nepal!"
print(a.replace("N", "J"))

Jello, Jepal!

In [53]:
x = 'Hello Nepal, This is Nepali'

x = x.replace('N', 'J', 1) # Step 1: Replace only the first H

#x = x.replace('N', 'U',1) # Step 2: Replace only the first N

print(x)

Hello Jepal, This is Nepali

Imagination Case: Imagine you working as Data Analyst and 
all you need to 
do is
seperate fname,lname,age,gender from data which
comes in below mentioned format 

name = "Rajesh,Hamal,56,Male"
Alia$Bhatt$32$Female
Donald/Trump/78/Male
KP-oli-72-Male

split(): method returns a list where the text between the specified separator becomes the list items.

In [54]:
a = "Alia$Bhatt$Ranbir$Kapoor"
u = print(a.split("$"))

['Alia', 'Bhatt', 'Ranbir', 'Kapoor']

In [55]:
usa_president = "Donald/Trump/78/Male"

parts = usa_president.split('/') # Split the string by '/'
print(parts)

['Donald', 'Trump', '78', 'Male']

In [38]:
fname = parts[0]  # Assign to separate variables
lname = parts[1]
age = parts[2]
gender = parts[3]

# Print them
print("First Name:", fname)
print("Last Name:", lname)
print("Age:", age)
print("Gender:", gender)

print(f"{fname} {lname

First Name: Donald
Last Name: Trump
Age: 78
Gender: Male

In [59]:
fname = parts[0]  # Assign to separate variables
lname = parts[1]
age = parts[2]
gender = parts[3]

print(gender)

Male

Day 2 Exercise: https://docs.google.com/document/d/1ELIm8YljbSlxQV_N8osrS10_BHcVRe7us-TkStm8zVI/edit?usp=sharing

Short link: https://shorturl.at/ASDvo

STRING CONCATENATION

In [1]:
## using + sign 

first_string = "Joe"
second_string = "Sonu"
final_string = first_string + second_string
print(final_string)     ##majja aayena

TashiSonu

In [4]:
## using + sign 

third_string1 = "Tashi"
fourth_string = "Sonu"
final_string1 = third_string1 + " " + fourth_string + "!"
print(final_string1)     ##majja aayo

Tashi Sonu!

Using * Operator (String Repetition)

In [6]:
word = "Muna "
print(word * 5)

Muna Muna Muna Muna Muna

Using join() Method

In [9]:
words = ["Lipulekh", "firtadey"]
result = " ".join(words)
print(result)

Lipulekh firtadey

STRING FORMATTING

Using f-Strings (Formatted Strings, Python 3.6+)

In [13]:
name = "Krishna"
# i want to print "Krishna is my friend."
#print(name, "is my friend")
#print("the ",name," is name of my friend")
print(f"Birthday of , {name}!", "was on last Saturday")

Birthday of , Krishna! was on last Saturday

In [15]:
name = "Krishna"
title = "God"
print(f"{name} mero sathi sabai vanda maathi, who is {title}") 
#print(name, "mero sathi sabai vanda maathi, who is also", title)

Krishna mero sathi sabai vanda maathi, who is also God

In [27]:
#old method
name = "Krishna"
age = 20.89898
print("My name is %s and I am %.2f years old." % (name, age)) # %d is for integer and %f is for float

My name is Krishna and I am 20.90 years old.

In [29]:
# the new
new_name = "Krishna"
new_age = 5127
print("My friends name is {} and I am {} years old.".format(new_name, new_age))

My friends name is Krishna and I am 5127 years old.

In [31]:
## what about ARRAY
print("My name is {0} and I am {1} years old. {0} loves Flute and he is is  {1} years old".format(new_name, new_age))

My name is Krishna and I am 5127 years old. Krishna loves Flute and he is is  5127 years old

In [35]:
# input in print command itself
print("My name is {name} and I am {age} years old.".format(name="Sonu", age=17))

My name is Sonu and I am 17 years old.