# PLEASE TRUN ON YOUR CAMERA

### A. Working with Python String

In [ ]:
# data type

In [11]:
x = "Hello I am Sushila Karki and I am first female Prime Minister of Nepal" # x is a variable
print(x)

Hello I am Sushila Karki and I am first female Prime Minister of Nepal

In [15]:
print("sushila" in x)

False

#### A.1 Multiline Strings

In [17]:
my_paragraph = ''' Hello my name is Rajesh Hamal and I am hero of Nepal. 
I live in Kathmandu and my favourite food is Mo:mo
Bishal is a nice CR, 
he cares lots about his respective section
                    '''
print(my_paragraph)


# this is single line comment in python

 Hello my name is Rajesh Hamal and I am hero of Nepal.
I live in Kathmandu and my favourite food is Mo:mo
Bishal is a nice CR,
he cares lots about his respective section

In [22]:
x1 = 'Nepal'
y = 'is'
z = 'my home land'

print(x1,y,z)

Nepal is my home land

In [23]:
my_note = "Nepal is my home land"
print(my_note)

Nepal is my home land

In [6]:
country = "Nepal"
print(country)

#memory[10] -- [N,e,p,a,l]

Nepal

Python keeps your string in order, like a row of boxes, and each box has one letter.
Indexing lets you open a specific box

#### String Methods

#### A2. Slicing Strings

Index:  0   1   2   3   4
Value:  N   e  p  a  l

In [29]:
name = "HIMALAYAN"
print(name[0:9])  #n-1 where n is the highest next index number

HIMALAYAN

In [30]:
print(len(name))

9

In [31]:
print(x)
print(len(x))

Hello I am Sushila Karki and I am first female Prime Minister of Nepal
70

In [34]:
print(x[0:7])
print(x[0:8])

Hello I
Hello I

In [12]:
name = "Krishna"
print(len(name))

8

In [42]:
student_name = 'Krishna'
print(len(student_name))
print(student_name[0:5])

7
Krish

Slice From the Start

In [39]:
b = "Hello, Nepal!"
print(b[0:])
print(b[:])

Hello, Nepal!
Hello, Nepal!

The negative indexing

In [15]:
b = "Hello, World!"
print(b[-5:-2])
#print(b[0:0])

orl

Positive:  H   e   l   l   o   ,       W   o   r   l   d   !
           0   1   2   3   4   5   6   7   8   9  10  11  12

Negative: -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

b[start : stop]

In [42]:
b = "Hello, World!"
#print(b[-2:-1])
#print(b[-2:-5])
print(b[-12:-2]) 
#output is empty string because the slicing runs from left to right

ello, Worl

In [45]:
#print(b[1:9:1])
print(b[-2:-5:-1])  #backward specification

dlr

In [54]:
#steps in slicing
a = 'Harisiddhi Boarding School'
print(a[2:16:2])
print(a[2:16:1])

rsdh or
risiddhi Board

#### A.3 Modify Strings

upper()

In [55]:
my_name = 'krish pokhrel'
print(my_name.upper())

KRISH POKHREL

The upper() method returns the string in upper case.
The lower() method returns the string in lower case

lower()

In [56]:
my_name_ = 'KRISH POKHREL'
print(my_name_.lower())
print(my_name_)

krish pokhrel
KRISH POKHREL

strip()

In [58]:
# remove spacing before and after the string 

my_name_is = ' KRISH  POKHREL   '
print(len(my_name_is))
after_strip = my_name_is.strip()
print(len(after_strip))

18
14

The strip() method removes any whitespace from the beginning or the end:

In [38]:
print(my_name_is.strip())

Himal Yadav

In [41]:
my_name_is.strip()

'Himal Yadav'

replace()

In [60]:
replace_word = 'nepal'
print(replace_word.replace("N","U")) # replace function is not case sensitive
print(replace_word)
#print(replaced)

nepal
nepal

In [62]:
a = "Hello, Nepal!"
print(a.replace("N", "J"))

Hello, Jepal!

In [64]:
x = 'Hello Nepal, This is Nepali'

x = x.replace('N', 'K', 1) # Step 1: Replace only the first N

# to change the second N we need to implemnet looping in python 

#x = x.replace('N', 'U',1) # Step 2: Replace only the first N

print(x)

Hello Kepal, This is Nepali

Imagination Case: Imagine you working as Data Analyst and 
all you need to 
do is
seperate fname,lname,age,gender from data which
comes in below mentioned format 

name = "Rajesh,Hamal,56,Male"
Alia$Bhatt$32$Female
Donald/Trump/78/Male
KP-oli-72-Male

split(): method returns a list where the text between the specified separator becomes the list items.

In [28]:
a = "Alia$Bhatt$Ranbir$Kapoor"
u = print(a.split("$"))

['Alia', 'Bhatt', 'Ranbir', 'Kapoor']

In [67]:
usa_president = "Donald/Trump/78/Male"

parts = usa_president.split('/') # Split the string by '/'
print(parts)

['Donald', 'Trump', '78', 'Male']

In [70]:
fname = parts[0]  # Assign to separate variables
lname = parts[1]
age = parts[2]
gender = parts[3]


# Print them
print("First Name:", fname)
print("Last Name:", lname)
print("Age:", age)
print("Gender:", gender)


print("The details of candiate is", fname,lname,age,gender)

First Name: Donald
Last Name: Trump
Age: 78
Gender: Male
The details of candiate is Donald Trump 78 Male

In [59]:
fname = parts[0]  # Assign to separate variables
lname = parts[1]
age = parts[2]
gender = parts[3]

print(gender)

Male

Day 2 Exercise: https://docs.google.com/document/d/1ELIm8YljbSlxQV_N8osrS10_BHcVRe7us-TkStm8zVI/edit?usp=sharing

Short link: https://shorturl.at/ASDvo

STRING CONCATENATION

In [71]:
## using + sign 

first_string = "Sakcham"
second_string = "Bikram Thapa"
final_string = first_string + second_string
print(final_string)     ##majja aayena

SakchamBikram Thapa

In [72]:
## using + sign 

third_string1 = "Sakcham"
fourth_string = "Bikram Thapa"
final_string1 = third_string1 + " " + fourth_string + "!"
print(final_string1)     ##majja aayo

Sakcham Bikram Thapa!

Using * Operator (String Repetition)

In [73]:
word = "Sakcham "
print(word * 5)

Sakcham Sakcham Sakcham Sakcham Sakcham

Using join() Method

In [80]:
words = ["Kathmandu", "New Delhi"]
result = " ".join(words)
print(result)

Kathmandu New Delhi

STRING FORMATTING

Using f-Strings (Formatted Strings, Python 3.6+)

In [83]:
name = "Krishna"
# i want to print "Krishna is my friend."
#print(name, "is my friend")
#print("the ",name," is name of my friend")
print(f"Birthday of , {name}!", "was on last Saturday")

Birthday of , Krishna! was on last Saturday

In [86]:
name = "Buddha"
title = "God"
print(f"{name} mero Bhagwan sabai vanda maathi, who is {title}") 
#print(name, "mero sathi sabai vanda maathi, who is also", title)

Buddha mero Bhagwan sabai vanda maathi, who is God

In [88]:
#old method
name = "Shyam"
age = 20.89898
print("My name is %s and I am %d years old." % (name, age)) # %d is for integer and %f is for float

My name is Shyam and I am 20 years old.

In [89]:
# the new
new_name = "Krishna"
new_age = 5127
print("My friends name is {} and I am {} years old.".format(new_name, new_age))

My friends name is Krishna and I am 5127 years old.

In [90]:
## what about ARRAY
print("My name is {0} and I am {1} years old. {0} loves Flute and he is is  {1} years old".format(new_name, new_age))

My name is Krishna and I am 5127 years old. Krishna loves Flute and he is is  5127 years old

In [91]:
# input in print command itself
print("My name is {name} and I am {age} years old.".format(name="Satkrit", age=17)) 
#this is called code optimization

My name is Satkrit and I am 17 years old.

In [6]:
new_name = "Krishna"
new_age = 5127
print("My friends name is {} and I am {} years old.".format(new_name, new_age))

My friends name is Krishna and I am 5127 years old.