In Python, operators are special symbols (or keywords) that perform operations on values (operands).
They allow us to manipulate variables and values in expressions.

### Arithimetic Operators

+ : Addition (5 + 3 = 8)
- : Subtraction (5 - 3 = 2)
* : Multiplication (5 * 3 = 15)
/ : Division (5 / 2 = 2.5)
// : Floor Division (5 // 2 = 2)
% : Modulus (remainder) (5 % 2 = 1)
** : Exponentiation (2 ** 3 = 8)

In [1]:
# Lets take two numbers (either float or integer as per your wish) from user and perform Arithimetic Operatotors

## first_number = int(input("Enter first number"))
second_number = int(input("Enter second number"))

addition = first_number + second_number
substraction = first_number - second_number
multiplication = first_number * second_number
division = first_number / second_number
floor_division = first_number // second_number
get_reminder = first_number % second_number
power_up = first_number**second_number

print("The addiiton of provided numbers are",addition)

print("The floor divisio is",floor_division)

In [4]:
print("The additon of",first_number, "and",second_number, "is",addition)

The additon of 77 and 6 is 83

In [3]:
#this is not for BIO Students
print('''The addition of {} and {} is  {}\nSubstraction is {},
Multiplication is {},\nDivision is {},\nfloor_division is {} ,\n
reminder is {} and\n
exponentiation is {}
\n.'''.format(first_number, second_number,addition, substraction,multiplication,division,floor_division,get_reminder,power_up))




import math 
math.ceil

The addition of 3 and 4 is  7
Substraction is -1,
Multiplication is 12,
Division is 0.75,
floor_division is 0 ,

reminder is 3 and

exponentiation is 81

.

Difference between "Floor Division" and "Modulus"
Floor Division "//" gives the quotient rounded down to the nearest integer, while Modulus "%" gives the remainder after division.

### Assignment Operators

Assignment Operators (assign values to variables)

= : Assign (x = 5)
+= : Add and assign (x += 3 â†’ x = x + 3)
-= : Subtract and assign (x -= 3)
*= : Multiply and assign (x *= 3)
/= : Divide and assign (x /= 3)

In [11]:
x = 80
print(x)

x+=3
print(x)

80
83

In [6]:
y = x+3
print(y)

83

In [9]:
i = 80
#print(x)
y +=5
print(y)

88

In [8]:
# add 3 in x and print

y = x+3 
y = x
#print(x)

x +=3
print(x)

11

In [32]:
#substract and assign
x-= 4
print(x)

8

In [37]:
#multiply and assign
y=8

y*=8
print(y)
#divide and assign
c = 11
c/=10
print(c)

64
1.1

In [39]:
x = 5
x = x + 3
print(x)  # Output: 8

8

In [40]:
z = 5 
z+=3
print(z)

8

x = x + 3 creates a new value and reassigns it to x,
while x += 3 is shorthand that adds 3 to x and can modify the object in place if mutable (object can be changed after it is created)

In [1]:
print(7^2)

5

In [2]:
y = 20
y-=7
print(y)

13

In [3]:
print(100%33)

1

In [4]:
a = input("Enter first number")
b = input("Enter second number")
c = a+b
print(c)

Enter first number 3
Enter second number 4

34

In [5]:
int(num1) = 25
int(num2)=4
fd=25//4
print(fd)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (293320550.py, line 1)

In [10]:
print(True*False)

0

In [11]:
a = 2
b = 4
a+=4
print("a is",a)

a is 6

In [12]:
25//4

6

In [13]:
25%4

1

In [14]:
x = "Nepal"
print(x[0:3])

Nep

In [38]:
country ="Hello World"
print(country[-2:-11])

In [24]:
name = "Samyak Dahal"
print(name.strip())

Samyak Dahal

In [28]:
words=["Hello","Nepal"]
result = "+".join(words)
print(result)

Hello+Nepal

In [1]:
name = "Keshav/Ghimire/28/Male"
new = name.split('/')
print(new)

f_name = new[0]
l_name = new[1]
age = new[2]
gender =new[3]

['Keshav', 'Ghimire', '28', 'Male']

In [2]:
name[]= name.split("/")
result = "+".join(name[0],name[1])
print(result)

SyntaxError: invalid syntax (2499385669.py, line 1)

In [43]:
print("()()()()".format(f_name,l_name,age,gender))

()()()()

In [46]:
print(f" The first name is {new[0]}")

 The first name is Keshav

In [47]:
string = ["first_name","last_name"]
combine = "and".join(string)
print(combine)

first_nameandlast_name

In [49]:
print(f"First Name:{f_name}")

First Name:Keshav